@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&display=swap');

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbar {
    min-height: 70px;
    width: 100%;
    border-radius: 0;
    font-size: 130%;
}

.navbar-brand {
    padding: 25px 25px;
    font-size: 200%;
    font-family: 'Bebas Neue' !important;
}

@media (min-width: 768px) {
    .navbar-nav {
        padding: 10px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container,
footer {
    font-size: 120%;
}


h1 {
    text-align: center;
    margin-bottom: 2em;
}

.note {
    margin-top: 1em;
}


footer {
    position: relative;
    margin-top: auto;
    padding: 10px 15px;
}

select {
    display: inline-block;
    width: fit-content;
    padding: 7.7px 3em 7.7px 1em;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}

input,
textarea {
    font-size: 100% !important;
}

input[type='text']:not([id='keyword']) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

input[id='keyword'] {
    padding: 0.5rem;
}

textarea {
    height: 10em !important;
    resize: none;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    margin-bottom: 2em;
}

.sort form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1em;
}

table * {
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
}

.btn-primary>a {
    color: white;
    font-size: 120%;
}

.danger,
.danger:hover {
    font-weight: bold;
    color: darkred;
}

.alert-warning {
    color: hsl(38, 40%, 19%);
    background-color: hsl(50, 81%, 90%);
    border-color: hsl(40, 82%, 85%);
}