header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbar {
    min-height: 70px;
    width: 100%;
    border-radius: 0;
}

.navbar-brand {
    padding: 25px 25px
}

@media (min-width: 768px) {
    .navbar-nav {
        padding: 10px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}

.note {
    margin-top: 1em;
}


footer {
    position: relative;
    margin-top: auto;
    padding-left: 15px;
    padding-right: 15px;
}

select {
    display: inline-block;
    width: fit-content;
    padding: 7.7px 3em 7.7px 1em;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    margin-bottom: 2em;
}

.sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}