{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block headline %}
{% if current_user.is_authenticated %}
Jäsenhakemukset
{% else %}
Kirjaudu sisään käsitelläksesi jäsenhakemuksia
{% endif %}
{% endblock %}

{% block page_content%}

{% if current_user.is_authenticated %}
<div class="sort">
    <form method="POST">
        {{ sortForm.hidden_tag() }}
        {{ sortForm.keyword }}
        {{ sortForm.submit(class="btn btn-primary")}}
    </form>
</div>

<form method="POST">

    <div class="actions">
        {{batchEdit.actions()}}
        {{batchEdit.submit(class="btn btn-primary")}}
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th> </th>
                <th>Nimi</th>
                <th>Sähköpostiosoite</th>
                <th>Hakemus vastaanotettu</th>
                <th>Tila</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ batchEdit['member_'+member.id|string](id="member_"+member.id|string, value=member.id) }}</td>
                <td>{{member.name}}</td>
                <td>{{member.email}}</td>
                <td>{{moment(member.applicationDate).format('LL')}}</td>
                <td>{% if member.status == 1 %}Hyväksytty{% else %}Odottaa hyväksymistä{% endif %}</td>
                <td><a href="/members/{{member.id}}">Muokkaa</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ batchEdit.hidden_tag() }}

</form>

<div class="pagination">
    {{macros.pagination_widget(pagination, ".members")}}
</div>
{% endif %}

{% endblock %}