{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block headline %}
{% if current_user.is_authenticated %}
Käyttäjätilit
{% else %}
Kirjaudu sisään nähdäksesi käyttäjätilit
{% endif %}
{% endblock %}

{% block page_content%}

{% if current_user.is_authenticated %}

<div class="actions">
    <div class="btn btn-primary">
        <a href="{{ url_for('auth.new_user') }}">Luo uusi käyttäjätili</a>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Käyttäjätunnus</th>
            <th>Sähköpostiosoite</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td><a href="{{ url_for('auth.users') }}/{{user.id}}">Muokkaa</a></td>
            <td><a href="{{ url_for('auth.delete_user', id=user.id) }}" class="danger"
                    onclick="return confirm('Oletko varma, että haluat poistaa tämän käyttäjätilin?');">Poista</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="pagination">
    {{macros.pagination_widget(pagination, ".users")}}
</div>
{% endif %}

{% endblock %}